.category-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.category-item {
    display: flex;
    align-items: center;
    flex: 1;
    margin-right: 10px;
}
 

.category-item .category-number,
.category-item .category-title,
.category-item .category-word {
    transition: background-color 0.5s, color 0.5s;
   
}; 

.category-item:hover .category-number,
.category-item:hover .category-title,
.category-item:hover .category-word {
    background-color: aliceblue;
    color: black; 
}

.category-number {
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #0077b6;
    color: white;
    margin-right: 16px;
    flex-shrink: 0;
    
}

.category-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.category-word {
    white-space: nowrap;
    
}