.category-list {
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* 高さを揃える */
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 100%;
  }
  
  .category-item {
    display: flex;
    align-items: center;

    flex: 1 1 0;
    max-width: calc(20% - 10px);

    padding: 10px; 
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px; 
  }

  
  .category-item:hover {
    background-color: #354D65;
    color: #007bff;
  }
  
  .selected {
    background-color: #354D65;
    color: #fff;
    
  }
  
  .category-number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #354D65;
    color: white;
    margin-right: 16px;
    flex-shrink: 0;
  }
  
  .category-title {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    background-color: #354D65;
  }
  
  .category-word {
    white-space: nowrap;
  }
  
  /* ホバー時のスタイルを統一 */
  .category-item:hover .category-number {
    background-color: #354D65;
  }
  
  .category-item:hover .category-title,
  .category-item:hover .category-word {
    color: inherit; /* category-item の色を継承 */
    background-color: inherit;
  }
  
  /* 選択された項目のスタイル */
  .category-item.selected,
  .category-item.selected:hover {
    background-color: #007bff ;
    color: #fff;
  }
  
  .category-item.selected .category-number,
  .category-item.selected:hover .category-number {
    background-color: #fff;
    color: #007bff;
  }

.category-item.selected,
.category-item.selected * {
  background-color: #007bff;
  color: #fff;
}

@media (max-width: 600px) {
    .category-title {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        background-color: #354D65;
      }

      .category-number {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16px;
        height: 16px;
        font-size: 12px;
        border-radius: 50%;
        background-color: #354D65;
        color: white;
        margin-right: 8px;
        flex-shrink: 0;
      }      
  }