* {
  background-color: white;
  color: #283645;
  font-family: Arial, sans-serif;
  input:not(:placeholder-shown) {
    background-color: #e6f2ff;
}

}

.container {
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  background-color: white;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}