@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes rainFall {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100vh);
  }
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



body {
  font-family: 'Outfit', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* weather-display:before {
  content: '';
  background: url('./assets/sunset.jpg') no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
} */



.common-screen-size{
  @apply w-full h-screen;
}

.responsive-screen-size{
  @apply max-w-[500px] sm:max-w-[650px] md:max-w-[800px] lg:max-w-[950px]  xl:max-w-[1240px];
}

.responsive-bar-size {
  @apply px-3 sm:px-8 md:px-16 lg:px-20;
}

.responsive-text-size {
  @apply text-responsive-sm md:text-responsive-md lg:text-responsive-lg font-semibold;
}
.responsive-title-size {
  @apply leading-none text-responsive-title-sm md:text-responsive-title-md lg:text-responsive-title-lg font-bold ;
}

.common-rotated-description{
  @apply relative -right-[95%] origin-top-left rotate-[269deg];
}

.common-bottom-section{
  @apply flex justify-evenly text-center w-full rounded-lg bg-white/10 ;
}